@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-gray-100;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-500/50 rounded-full;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-red-500\/50 {
  scrollbar-color: rgba(239, 68, 68, 0.5) transparent;
}